* {
  padding: 0;
  margin: 0;
}

.container {
  background: rgb(236, 248, 208);
  height: 100vh;
  font-size: 16px;
  text-align: center;
}

.profile {
  height: 300px;
}

h1 {
  padding-top: 80px;
}

.hover-me, .on-me, .dots {
  color: orange;
  font-size: 22px;
}

.hover-me {
  margin-top: 80px;
}

.on-me, .dots {
  margin-top: 30px;
}

img {
  width: 8vw;
  margin: 5px;
}

.get-info {
  position: absolute;
  left: 50%;
  top: 430px;
  width: 400px;
  transform: translateX(-50%);
}

input, button {
  font-size: 16px;
  padding: 5px 10px;
}

button {
  border-radius: 10px;
  margin-left: 10px;
}

button:hover {
  background: darkslategrey;
  color: white
}

input:focus, button:focus {
  outline: none;
}

#avata {
  padding: 12px;
  width: 150px;
}

p {
  margin-bottom: 5px;
}

ul {
  /* position: absolute;
  left: 50%;
  top: 480px;
  transform: translateX(-50%); */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: center;
  list-style-type: none;
  padding: 60px 25px 10px 25px;
}

#option {
  color: rgb(255, 0, 140);
}

.hover-me, #username, #location, #count {
  position: relative;
  animation-name: ltor;
  animation-duration: 3s;
  animation-fill-mode: forwards; 
}

.on-me, #realname, #bio {
  position: relative;
  animation-name: rtol;
  animation-duration: 3s;
  animation-fill-mode: forwards; 
}

.dots {
  position: relative;
  display: inline-block;
  animation-name : heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.dots, .hover-me, .on-me {
  transition-property: transform;
  transition-duration: 1s; 
}

.dots:hover, .hover-me:hover, .on-me:hover {
  transform: rotateX(1440deg);
  transform: rotateY(1440deg);
  transform: rotate(1440deg);
}

@keyframes ltor {
  0% {left: -500px}
  100% {left: 0}
}

@keyframes rtol {
  0% { right: -500px }
  100% { right: 0 }
}

@keyframes heading {
  0% { top: 500px }
  100% { top: 0 }
}

@media(max-width: 760px) {
  .container {  height: 100%; }
  ul {    grid-template-columns: repeat(6, 1fr);  }
  img {    width: 12vw;  }
}


